label {
    top: 0%;
    transform: translateY(-50%);
    font-size: 11px;
    color: rgba(37, 99, 235, 1);
}

.empty input:not(:focus)+label {
    top: 25%;
    transform: translateY(-25%);
    font-size: 14px;
}

input:not(:focus)+label {
    color: rgba(70, 70, 70, 1);
}

input {
    border-width: 1px;
}

input:focus {
    outline: none;
    border-color: rgba(37, 99, 235, 1);
}
input:not(:placeholder-shown) +label {
    -moz-transform: translateY(-85%) !important;
  -ms-transform: translateY(-85%) !important;
  -webkit-transform: translateY(-85%) !important; 
    transform: translateY(-85%) !important;
    font-size: 11px !important;

}
input::placeholder{
    opacity:0;
}

/* label:focus-within > span, */
/* input:not(:placeholder-shown) + label{
    color:purple;
    transform:translateY(-10px);
} */
