<section>
    <section class=""
        style="background-image: url(./assets/img/login.png); background-size: 100%; background-repeat: no-repeat;">
        <section class="flex justify-center items-center h-screen">
            <section
                class='flex max-w-md w-full h-64 justify-center shadow-md rounded-lg overflow-hidden mx-auto flex-col p-5 bg-gray-100'>
                <section class="flex justify-center">
                    <h3 class="text-2xl font-bold mb-4">RC Validation</h3>
                </section>
                <form (ngSubmit)="validateRCNumber()">
                    <div class="relative h-10 input-component empty">
                        <input id="address" type="text" name="address"
                            class="h-full w-full border-gray-300 px-2 transition-all border-blue rounded-sm"
                            [(ngModel)]="rcNumber" />
                        <label for="address" class="absolute left-2 transition-all bg-white px-1">
                            Enter RC or TIN Number
                        </label>
                    </div>
                    <div class="mt-10">
                        <button type="submit"
                            class="py-3 bg-blue-500 text-white w-full rounded hover:bg-blue-600 uppercase font-semibold">
                            Validate
                        </button>
                    </div>
                </form>
            </section>
        </section>
    </section>
    <rpa-footer></rpa-footer>
</section>