<div id="__next">
    <section class="header relative pt-16 items-center flex h-screen" style="max-height:860px">
        <div class="container mx-auto items-center flex flex-wrap">
            <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
                <div class="pt-32 sm:pt-0">
                    <h2 class="font-semibold text-4xl text-blueGray-600">An Identity Verification System.</h2>
                    <p class="mt-4 text-lg leading-relaxed text-blueGray-500">ValidateNow includes all tasks that
                        introduce a secure software development life cycle to
                        development teams. Its final goal is to improve security practices and, through that, to find,
                        fix and preferably
                        prevent security issues within applications. It encompasses the whole application life cycle
                        from requirements analysis,
                        design, implementation, verification as well as maintenance.

                    </p>
                    <div class="mt-12"><a
                            class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blue-500 active:bg-blue-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150"
                            href="#">Get started</a><a href="#"
                            class="github-star ml-1 text-black font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg"
                            target="_blank">Know More</a></div>
                </div>
            </div>
        </div><img class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12"
            src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/ill_header_3.png" alt="..."
            style="max-height:860px">
    </section>
    <section class="mt-40 pb-40 relative bg-blueGray-100">
        <div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute" style="height:80px"><svg
                class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
                version="1.1" viewBox="0 0 2560 100" x="0" y="0">
                <polygon class="text-blueGray-100 fill-current" points="2560 0 2560 100 0 100"></polygon>
            </svg></div>
        <div class="container mx-auto">
            <div class="flex flex-wrap items-center">
                <div class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-32">
                    <div
                        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600">
                        <img alt="..."
                            src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=700&amp;q=80"
                            class="w-full align-middle rounded-t-lg">
                        <blockquote class="relative p-8 mb-4"><svg preserveAspectRatio="none"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95"
                                class="absolute left-0 w-full block" style="height:95px;top:-94px">
                                <polygon points="-30,95 583,95 583,65" class="text-pink-600 fill-current"></polygon>
                            </svg>
                            <h4 class="text-xl font-bold text-white">Get the facts at ease</h4>
                            <p class="text-md font-light mt-2 text-white">Runtime application self-protection augment
                                existing applications to provide intrusion detection and prevention from
                                within an application runtime.</p>
                        </blockquote>
                    </div>
                </div>
                <div class="w-full md:w-6/12 px-4">
                    <div class="flex flex-wrap">
                        <div class="w-full md:w-6/12 px-4">
                            <div class="relative flex flex-col mt-4">
                                <div class="px-4 py-5 flex-auto">
                                    <div
                                        class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                                        <i class="fas fa-sitemap"></i>
                                    </div>
                                    <h6 class="text-xl mb-1 font-semibold">RC Validation</h6>
                                    <p class="mb-4 text-blueGray-500">Be sure you are dealing with a register company.
                                    </p>
                                </div>
                            </div>
                            <div class="relative flex flex-col min-w-0">
                                <div class="px-4 py-5 flex-auto">
                                    <div
                                        class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                                        <i class="fas fa-drafting-compass"></i>
                                    </div>
                                    <h6 class="text-xl mb-1 font-semibold">TIN Validation</h6>
                                    <p class="mb-4 text-blueGray-500">Because cloud environments provide shared
                                        resources, special care must be taken to ensure that users only have access to
                                        the data they are authorized to view in their cloud-based applications.</p>
                                </div>
                            </div>
                        </div>
                        <div class="w-full md:w-6/12 px-4">
                            <div class="relative flex flex-col min-w-0 mt-4">
                                <div class="px-4 py-5 flex-auto">
                                    <div
                                        class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                                        <i class="fas fa-newspaper"></i>
                                    </div>
                                    <h6 class="text-xl mb-1 font-semibold">Int'l Passport Validation</h6>
                                    <p class="mb-4 text-blueGray-500">A necessary process to ensure that all of these
                                        security controls work properly.</p>
                                </div>
                            </div>
                            <div class="relative flex flex-col min-w-0">
                                <div class="px-4 py-5 flex-auto">
                                    <div
                                        class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                                        <i class="fas fa-file-alt"></i>
                                    </div>
                                    <h6 class="text-xl mb-1 font-semibold">Driver License Validation</h6>
                                    <p class="mb-4 text-blueGray-500">A necessary process to ensure that all of these
                                        security controls work properly.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <rpa-footer></rpa-footer>
</div>