<!-- <div class="ml-4 mt-4 rounded overflow-hidden shadow-xl">
  <div class="pl-6 py-4 w-full">
    <div class="font-bold text-xl mb-2">Welcome Chanrai Nigeria LTD</div>
    <p class="text-gray-700 text-base">
      Proceed to set up <a [routerLink]="['account-mandate']" class="text-yellow-700">Account
        Mandates</a>
    </p>
  </div>
</div> -->

<div class="bg-white pl-8 rounded-md w-full">
  <div>
    <div class="text-lg my-4">Hi <span class="font-bold">{{coyName}}</span>, your bank account number is
      <span *ngIf="nuban" class="text-yellow-700 font-bold">{{nuban}}</span>
      <span *ngIf="!nuban" class="text-yellow-700">being generated and will be available shortly.</span>
    </div>
    <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
      <div class="flex justify-between min-w-full shadow rounded-lg overflow-hidden pb-10">
        <section>
          <p class="text-sm font-semibold m-4">Bank Account Information</p>
          <table class="leading-normal">
            <tbody>
              <tr>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap font-semibold">Account Name</p>
                </td>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{coyName}}</p>
                </td>
              </tr>
              <tr>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap font-semibold">Account Number</p>
                </td>
                <td class="px-5 pt-5 bg-white text-sm capitalize">
                  <p class="text-gray-900 whitespace-no-wrap">
                    {{nuban}}
                  </p>
                </td>
              </tr>
              <tr>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap font-semibold">Account Type</p>
                </td>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">
                    {{acctInfo.accountType}} Account - {{acctInfo.accountCurrency}}
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
  <!-- {{acctInfo | json}} -->


  <div>
    <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
      <div class="flex justify-between min-w-full shadow rounded-lg overflow-hidden pb-10">
        <section>
          <p class="text-sm font-semibold m-4">Company Information</p>
          <table class="leading-normal">
            <tbody>
              <tr>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap font-semibold">Name</p>
                </td>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{coyName}}</p>
                </td>
              </tr>
              <tr>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap font-semibold">Address</p>
                </td>
                <td class="px-5 pt-5 bg-white text-sm capitalize">
                  <p class="text-gray-900 whitespace-no-wrap">
                    {{coy["Reg_Add"]}}
                  </p>
                </td>
              </tr>
              <tr>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap font-semibold">Status</p>
                </td>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{coy["Status"]}}</p>
                </td>
              </tr>
              <tr>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap font-semibold">Type of Entity</p>
                </td>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{coy["Entity_Type"]}}</p>
                </td>
              </tr>
              <tr>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap font-semibold">Registration Number</p>
                </td>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{coy["Company RC Number"]}}</p>
                </td>
              </tr>
              <tr>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap font-semibold">Registration Date</p>
                </td>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{coy["Reg_Date"]}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </section>

        <section *ngIf="directors.length > 0" class="pr-8">
          <p class="text-sm font-semibold m-4">Directors Information</p>
          <table class="leading-normal">
            <thead>
              <tr>
                <th
                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                  Name
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                  Designation
                </th>
            </thead>
            <tbody>
              <tr *ngFor="let director of directors">
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{director["Value"]}}</p>
                </td>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{director["Label"]}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </section>


      </div>
    </div>
  </div>
  <p class="text-gray-700 text-base flex items-center justify-center">
    Proceed to set up <a [routerLink]="['account-mandate']" class="text-yellow-700 ml-2">Account
      Mandates
    </a>
  </p>
</div>
