<!-- <div class="ml-4 mt-4 rounded overflow-hidden shadow-xl">
  <div class="pl-6 py-4 w-full">
    <div class="font-bold text-xl mb-2">Welcome Chanrai Nigeria LTD</div>
    <p class="text-gray-700 text-base">
      Proceed to set up <a [routerLink]="['account-mandate']" class="text-yellow-700">Account
        Mandates</a>
    </p>
  </div>
</div> -->

<div class="bg-white pl-8 rounded-md w-full">
  <div class="font-bold text-lg my-4">Hi Chanrai Nigeria LTD, your bank account number is <span
      class="text-yellow-700">0001239087</span></div>
  <div>
    <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
      <div class="flex justify-between min-w-full shadow rounded-lg overflow-hidden pb-10">
        <section>
          <p class="text-sm font-semibold m-4">Company Information</p>
          <table class="leading-normal">
            <tbody>
              <tr>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">Name</p>
                </td>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">Chanrai Nigeria Limited</p>
                </td>
              </tr>
              <tr>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">Address</p>
                </td>
                <td class="px-5 pt-5 bg-white text-sm capitalize">
                  <p class="text-gray-900 whitespace-no-wrap">7, PIPELINELAYOU, BESIDEREFINARY, EKPAN, DELTA
                  </p>
                </td>
              </tr>
              <tr>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">Status</p>
                </td>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">Verified</p>
                </td>
              </tr>
              <tr>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">Type of Entity</p>
                </td>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">Private Unlimited Company</p>
                </td>
              </tr>
              <tr>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">Registration Number</p>
                </td>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">RC 805396</p>
                </td>
              </tr>
              <tr>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">Registration Date</p>
                </td>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">05 Mar 2009</p>
                </td>
              </tr>
            </tbody>
          </table>
        </section>

        <section class="pr-8">
          <p class="text-sm font-semibold m-4">Directors Information</p>
          <table class="leading-normal">
            <thead>
              <tr>
                <th
                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                  Name
                </th>
                <th
                  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                  Designation
                </th>
            </thead>
            <tbody>
              <tr>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">Enaefewan Friday Okieriemagbaren</p>
                </td>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">Director</p>
                </td>
              </tr>
              <tr>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">Grace Enaefewan</p>
                </td>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">Director</p>
                </td>
              </tr>
              <tr>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">Oghenebrime Enaefewan</p>
                </td>
                <td class="px-5 pt-5 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">Director</p>
                </td>
              </tr>
            </tbody>
          </table>
        </section>


      </div>
    </div>
  </div>
  <p class="text-gray-700 text-base flex items-center justify-center">
    Proceed to set up <a [routerLink]="['account-mandate']" class="text-yellow-700 ml-2">Account
      Mandates
    </a>
  </p>
</div>
