<!-- Navbar goes here -->
<nav class="border-b-2 border-yellow-700">
  <section class="flex justify-between items-center">
    <section>
      <!-- Website Logo -->
      <a [routerLink]="['/']" routerLinkActive="router-link-active" class="flex items-center py-4 px-2">
        <!-- <img src="/assets/PwC_Outline_Logo_Black_RGB.png" alt="Logo" class="h-32"> -->
        <h1 class="p-3 text-blue-500 w-full rounded uppercase text-xl font-bold">
          ValidateNow</h1>
        <!-- ValidateNow -->
      </a>
    </section>
    <!-- Primary Navbar items -->
    <section class="flex items-center space-x-1">
      <!-- <a href="" class="py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold ">Home</a> -->
      <section class="dropdown">
        <button class="dropbtn flex items-center menu-item">
          <a class="py-4 px-2 font-semibold transition duration-300 uppercase">
            Services
          </a>
          <svg class="fill-current h-4 w-4 font-semibold transition duration-300" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
          </svg>
        </button>
        <div class="dropdown-content px-80 h-2/5">
          <ul class="flex items-center space-x-10">
            <li class="py-20 cursor-pointer menu-item">
              <a [routerLink]="['/rc-validation']">RC Validation</a>
            </li>
            <li class=" py-20 cursor-pointer menu-item">
              <a>TIN Validation</a>
            </li>
            <li class="py-20 cursor-pointer menu-item">
              <a>International Passport Validation</a>
            </li>
          </ul>
        </div>
      </section>
      <a href="" class="py-4 px-2 font-semibold transition duration-300 menu-item uppercase">
        About Us
      </a>

    </section>
  </section>
</nav>
