<section class="flex justify-center items-center pt-8">
    <section class="mt-4">
        <h1 class="text-2xl font-bold mb-2">Corporate Account Opening Documents</h1>
        <p>Please upload the following documents to open your open.</p>
    </section>
</section>
<!-- <section class="mt-2 h-screen bg-white px-2">
    
</section> -->
<form class="max-w-xl w-full mx-auto mt-6 mb-10">
    <section>
        <label class="text-sm font-medium text-gray-700 block mb-2" for="user_avatar">Copy of Certificate of
            Registration</label>
        <input
            class="block w-full cursor-pointer bg-gray-50 border border-gray-300 text-gray-700 focus:outline-none focus:border-transparent text-sm"
            aria-describedby="user_avatar_help" id="user_avatar" type="file" />
    </section>
    <section class="mt-4">
        <label class="text-sm font-medium text-gray-700 block mb-2" for="user_avatar">Copy of Board Resolution</label>
        <input
            class="block w-full cursor-pointer bg-gray-50 border border-gray-300 text-gray-700 focus:outline-none focus:border-transparent text-sm"
            aria-describedby="user_avatar_help" id="user_avatar" type="file" />
    </section>
    <section class="mt-4">
        <label class="text-sm font-medium text-gray-700 block mb-2" for="user_avatar">Copy of Memorandum and Article of
            Association</label>
        <input
            class="block w-full cursor-pointer bg-gray-50 border border-gray-300 text-gray-700 focus:outline-none focus:border-transparent text-sm"
            aria-describedby="user_avatar_help" id="user_avatar" type="file" />
    </section>
    <section class="mt-4">
        <label class="text-sm font-medium text-gray-700 block mb-2" for="user_avatar">Form C07</label>
        <input
            class="block w-full cursor-pointer bg-gray-50 border border-gray-300 text-gray-700 focus:outline-none focus:border-transparent text-sm"
            aria-describedby="user_avatar_help" id="user_avatar" type="file" />
    </section>
    <section class="mt-4">
        <label class="text-sm font-medium text-gray-700 block mb-2" for="user_avatar">Form CAC 1.1</label>
        <input
            class="block w-full cursor-pointer bg-gray-50 border border-gray-300 text-gray-700 focus:outline-none focus:border-transparent text-sm"
            aria-describedby="user_avatar_help" id="user_avatar" type="file" />
    </section>
    <section class="mt-4">
        <label class="text-sm font-medium text-gray-700 block mb-2" for="user_avatar">Partnership Agreement</label>
        <input
            class="block w-full cursor-pointer bg-gray-50 border border-gray-300 text-gray-700 focus:outline-none focus:border-transparent text-sm"
            aria-describedby="user_avatar_help" id="user_avatar" type="file" />
    </section>
    <section class="mt-4">
        <label class="text-sm font-medium text-gray-700 block mb-2" for="user_avatar">Evidence of Registration with
            SCUML</label>
        <input
            class="block w-full cursor-pointer bg-gray-50 border border-gray-300 text-gray-700 focus:outline-none focus:border-transparent text-sm"
            aria-describedby="user_avatar_help" id="user_avatar" type="file" />
    </section>
    <section class="mt-4">
        <label class="text-sm font-medium text-gray-700 block mb-2" for="user_avatar">Proof of Company Address</label>
        <input
            class="block w-full cursor-pointer bg-gray-50 border border-gray-300 text-gray-700 focus:outline-none focus:border-transparent text-sm"
            aria-describedby="user_avatar_help" id="user_avatar" type="file" />
    </section>
    <!-- <div class="mt-1 text-sm text-gray-500" id="user_avatar_help">
        A profile picture is useful to confirm your are logged
        into your account
    </div> -->
    <section class="flex justify-center">
        <button type="button" (click)="submitDocs()"
            class="py-2 w-full mt-6 bg-blue-500 text-white rounded hover:bg-blue-600 uppercase font-semibold">
            Submit
        </button>
    </section>

</form>